.cta {
    padding: 0 1em;
    line-height: 2.5;
    border-width: 0;
    border-radius: var(--border-radius-box);
    background-color: var(--colour-primary);
    color: var(--text-on-colour-colour);
    cursor: pointer;
}

.cta:hover {
    background-color: var(--colour-primary-light);
}

.link {
    display: block;
    text-decoration: none;
}