.agenda {}

@media (max-width: 900px) {
    .agenda {
        font-size: 0.9rem;

    }
}


.day {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;

}

.dayTitle {
    margin-top: 2rem;
}

.dayTitle small {
    margin-left: 0.5em;
}

.timeSlot {
    background-color: var(--lm-background-color);
}

.timeSlotTopBar {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 1rem;
}

.timeSlotTopBar time {}

.venue {

}

@media (max-width: 900px) {
    .timeSlotTopBar {
        font-size: 0.8rem;

    }

    .timeSlotTopBar time,
    .venue {
        font-size: 0.6rem;
        flex-basis: 25%;
    }
}


.timeSlotTopBar h4 {
    flex-grow: 1;
    margin: 0;
}

.timeSlotDetail {
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    background-color: var(--lm-background-color-inset);
    font-size: 0.9em;
    color: var(--lm-text-colour-weak);
}