.main {
    display: flex;
    flex-direction: column;
    background-size: cover;
    min-height: 100vh;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}


.banner {
    width: 100%;
    padding: 2rem;
    display: flex;
    background-color: var(--colour-secondary);
    box-sizing: border-box;
    position: relative;
}

.banner-contents {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: var(--colour-text-on-coloured-background);
    align-items: flex-start;
    margin-left: 20%;
}

@media (max-width: 900px) {
    .banner-contents {
        margin-left: 0.5em;
        padding-bottom: 20vw;
    }
}
@media (max-width: 400px) {
    .banner-contents {
        font-size: 0.7rem;
    }

}

.title-text {
    font-family: var(--font-family-titles);
    text-transform: uppercase;
    font-size: 2em;
    opacity: 0.8;
    color: var(--colour-primary);
    margin-top: 0.7em;
    margin-bottom: 0;
}


.banner-contents p {
    margin-top: 0.7em;
    margin-bottom: 0;
    font-size: 0.8em;
}

.little-text {


}

img.texty-logo {
    height: 3em;
    display: block;
    margin-top: 0.7em;
}

img.robot-and-city {
    display: block;
    position: absolute;
    right: 0;
    bottom: -2px;

    width: 40%;

}

@media (max-width: 900px) {
    img.robot-and-city {
        width: 70%;
    }
}

@media (max-width: 600px) {
    .title-text {
    font-size: 1.5em;

    }

    img.texty-logo {
        height: 2.5em;

    }
}


.spacer {
    display: block;
    height: 1em;
}

.image-link {


}

.image-link img {
    height: 1.2em;
}

.email-form {
    margin-top: 0.7em;
    margin-bottom: 1.5em;
}

.footer {
    
}