.main {
    --hackathon-font: 'Poppins';
    background-color: var(--colour-secondary);
    color: rgba(0, 0, 0, 0.75);
    font-family: var(--hackathon-font);

}

.main h2:not([class]),
.main h3:not([class]) {
    font-family: var(--hackathon-font);
    text-transform: uppercase;
    font-weight: bold;
}
.main h2:not([class]) {
    font-size: 2rem;
}

.main p:not([class]) {
    font-size: 1.2rem;
    font-family: var(--hackathon-font);
}


.title1,
.title2,
.title3 {
    font-family: var(--hackathon-font);
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding: 3vh 3vh;
    padding-left: 10vw;
}

.title1 {
    font-style: italic;
    font-size: 5vw;
    padding-bottom: 0;
    background-color: var(--colour-secondary-light);

}

.title2 {
    font-size: 8vw;

    background: linear-gradient(to right, #A73732, #4cac9a);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title3 {
    font-size: 5vw;
    background-color: var(--colour-secondary-light);
    padding-top: 0;
    position: relative;
}

.robotImage {
    display: block;
    position: absolute;
    right: 2vw;
    bottom: 0;
    height: 150%;
}

@media (max-width: 700px) {

    .title1,
    .title3 {
        font-size: 7vw;

    }

    .title2 {
        font-size: 10vw;

    }

}

@media (max-width: 450px) {
    .title2 {
        font-size: 9.2vw;

    }
}


.container {
    padding-left: 6vw;
    padding-right: 6vw;

}

@media (min-width: 900px) {
    .container {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

.contrastBlock {
    background-color: var(--colour-logo-turquoise);
    padding-top: 4rem;
    padding-bottom: 4rem;
}

@media (max-width: 700px) {
    .contrastBlock {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.flexRow {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4rem;
}

.flexRow>* {
    flex: 1 1 50%;
}

@media (max-width: 700px) {
    .flexRow {
        flex-direction: column;
        gap: 0;
    }
}

.todoList svg path {

    stroke: rgba(0, 0, 0, 0.75);
}

.todoListWrapper {
    padding: 2rem;
    position: relative;

}

.todoList {
    transform: rotate(-5deg);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.todoListWrapper::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 19px;
    top: 21px;
    width: 85%;
    height: 90%;
    transform: rotate(3deg);
    height: 90%;
    z-index: 0;
    background-color: #d5d5bf;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1000px) {
    .todoListWrapper {
        font-size: 1.5vw;
    }
}


@media (max-width: 700px) {
    .todoListWrapper {
        font-size: 2vw;
    }
}

@media (max-width: 550px) {
    .todoListWrapper {
        font-size: 3vw;
    }
}

.centreFlex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.agenda {

}

